html, body, .full-size {
    height: 100%;
    width: 100%;
}

.login-container {
    display: grid;
    align-items: center;
    text-align: center;
}

.background-login {
    /*background: url('../imgs/splash.jpg') no-repeat center;*/
    /*background-size: cover;*/
    background-color: #24100b;
    position: fixed;
}

.login-container > h1 {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.8);
}

.header {
    width: 100%;
    position: fixed;
    height: 10%;
    box-shadow: 0 1px 3px -2px;
    text-align: center;
    background-color: #24100b;
    z-index: 100;
}

.header > div {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.list-container {
    padding: 1% 20px 0 20px;
}

.list-table-header {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    text-align: center;
    padding: 5px;
    margin-right: 45px;
    margin-left: 5px;
    -webkit-box-shadow: 0 1px 3px -1px;
    -moz-box-shadow: 0 1px 3px -1px;
    box-shadow: 0 1px 3px -1px;
    position: sticky;
    top: 12%;
    background-color: #24100b;
    color: white;
}

.list-table-item {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 0fr 0fr;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 5px;
    cursor: pointer;
}

.list-table-item:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.badge {
    margin: 2px;
}

.btn-round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    height: 25px;
    width: 27px;
    padding: 0 0px 1px 0;
}

.btn-logout {

}

.unauthorized-container {
    display: grid;
    padding-top: 5%;
}

.unauthorized-container > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.unauthorized-bar {
    height: 8%;
    background-color: brown;
}

.alert-login {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -145%);
}

.list-items-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.rol-selector {
    display: inline-block;
}

.btn-add {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 40px;
    width: 40px;
}

.role-close {
    cursor: pointer;
    text-shadow: 0 0 1px white;
    color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    width: 15px;
    height: 15px;
    padding-top: 1px;
    border: 1px solid white;
    padding-right: 0;
}

.role-close:hover {
    background-color: brown;
    color: white;
    border: 1px solid brown;
}

.content {
    top: 10%;
    position: absolute;
}

.container-home {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imgs/home.jpg) no-repeat center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
}

.container-home > div > h1 {
    color: white;
    font-weight: bold;
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

.center-vertical {
    position: relative;
    top: 50%;
}

.left-home-btns > button {
    width: 60%;
    padding: 40px 10px;
    margin: 20px;
}

.content-full-size {
    height: 90% !important;
    width: 100%;
}

.home-1 {
    /*background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../imgs/home.jpg) no-repeat center;*/
    /*background-size: cover;*/
    background-color: #24100b;
}

.btn-home1-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 20px;
    bottom: 0;
    position: absolute;
    top: 50%;
    width: 100%;
}

.btn-home1-container > button {
    padding: 30px;
}

.title-box {
    position: relative;
    display: inline-block;
    width: 100%;
}

.title-box > h1 {
    width: 50%;
    font-weight: bold;
    color: white;
    /* top: 50%; */
    /* position: absolute; */
    /* left: 50%; */
    padding: 50px;
}

.login-home {
    position: absolute;
    right: 10px;
    top: -50px;
    z-index: 101;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.menu-buttons-container {
    height: 100%;

}

.item-sidebar {
    padding: 20px;
    width: 100%;
    text-align: center;
}

.item-sidebar > button {
    padding: 15px;
}

.user-img {
    background: url(../imgs/user.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 200px;
}

.sidebar {
    padding: 10px;
}

.niveles-container {
    display: grid;
    text-align: center;
}

.item-nivel {
}

.nivel-detail-lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
