<div class="full-size menu-container">
    <div class="sidebar">
        <div class="center-block text-center">
            <div class="user-img"></div>
            <h3>Bienvenido</h3>
        </div>
        <div class="menu-buttons-container">
            <button ng-show="showMenu[1]" class="btn btn-default item-sidebar" ng-click="goToState('usuarios')">
                Usuarios
            </button>
            <!--<button ng-show="showMenu[2]" class="btn btn-default item-sidebar" ng-click="goToState('actuadores')">Actuadores</button>-->
            <button ng-show="showMenu[4]" class="btn btn-default item-sidebar" ng-click="goToState('niveles')">Niveles
            </button>
            <!--<button ng-show="showMenu[3]" class="btn btn-default item-sidebar" ng-click="goToState('alertas')">Alertas</button>-->
            <!--<button ng-show="showMenu[5]" class="btn btn-default item-sidebar" ng-click="goToState('reportes')">Reportes</button>-->
            <button ng-show="showMenu[6]" class="btn btn-default item-sidebar" ng-click="goToState('roles')">Rol
            </button>
            <button ng-show="showMenu[7]" class="btn btn-default item-sidebar" ng-click="goToState('variables')">
                Variables Ambientales
            </button>
            <div class="item-sidebar">
                <button class="btn-logout btn btn-default fa fa-sign-out" ng-click="logout()"></button>
                <button class="btn-logout btn btn-default fa fa-gear" ng-click="logout()"></button>
            </div>
        </div>
    </div>
    <div class="list-container" ui-view="listView"></div>
</div>
