<div>
    <h1>{{'Nivel' + nivel.nivel}}</h1>
    <div class="nivel-detail-lists">
        <div>
            <div class="list-table-header">
                <b>ID</b>
                <b>Tipo</b>
                <b>Notificaciones</b>
            </div>

            <div class="list-items-container">
                <div class="list-table-item" ng-repeat="area in nivel.areas">
                    <span>{{area.id}}</span>
                    <span>{{area.tipo}}</span>
                    <span class="badge">0</span>
                </div>
            </div>
        </div>

        <div>
            <div class="list-table-header">
                <b>ID</b>
                <b>Fecha</b>
                <b>Notificaciones</b>
            </div>

            <div class="list-items-container">
                <div class="list-table-item" ng-repeat="reporte in nivel.reportes">
                    <span>{{reporte.id}}</span>
                    <span>{{reporte.fecha}}</span>
                    <span class="badge">0</span>
                </div>
            </div>
        </div>
        <div></div>
    </div>
</div>
